@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
.my-container{
    @apply w-full max-w-5xl mx-auto px-2 md:px-0
}
.label-text{
    @apply text-base pb-1
}
.nav-menu{
    @apply flex items-center space-x-4
}
.nav-item-hover:hover{
    @apply bg-success rounded-full bg-opacity-35 text-white 
}
.nav-item-active{
    @apply bg-success rounded-full bg-opacity-35 text-white
}

.main-menu {
  @apply p-4  space-y-1
}

.menu-item {
  @apply flex items-center gap-2 hover:bg-success hover:text-white rounded-md py-2 px-3 w-full
}

.menu-item-active {
  @apply flex items-center gap-2 bg-success text-white rounded-md py-2 px-3
}

/* Animation */
@keyframes animate-bounceLR {
    0%, 100% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(10px);
    }
  }
  
  .animate-bounceLR {
    animation: animate-bounceLR 3s infinite;
  }